* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.authh {
  width: 100vw;
  height: 95vh;

  background: mintcream;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.gif {
  width: 400px;
  height: 400px;
  background: url("../../Assets/ezgif-3-058e11b821.gif");
  /* background-color: antiquewhite; */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(245, 222, 179);
  clip-path: polygon(
    20% 0%,
    97% 0%,
    1000% 20%,
    1000% 80%,
    97% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  ); */
}

/* linear-gradient(
    to right bottom,
    #297ea6 0%,
    #00101c 50%,
    #297ea6 50%,
    rgba(249, 0, 4, 1) 100%
  ); */

.au {
  /* background: linear-gradient(
    to right bottom,
    #297ea6 0%,
    #00101c 50%,
    #297ea6 50%,
    rgba(249, 0, 4, 1) 100%
  ); */
  background-color: light;
  background: linear-gradient(#7aabac, #b7dfec);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: end;

  color: white;
  font-family: sans-serif;
  font-style: italic;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 10px;
}
.au :hover {
  color: red;
}
