.Best-T {
  margin-top: 30px;
  font-family: best-title;
  /* transform: rotate(-1.5deg);
  transform-origin: left bottom; */
}
@font-face {
  font-family: best-title;
  src: url(/src//Assets/fonts/MonoLisa-Black.ttf);
}

.Best-list {
  /* background-color: #4c4177; */
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  height: 53vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  clip-path: polygon(0 12%, 100% 0%, 100% 85%, 0 100%);
}

.cont-all {
  /* background-color: #000000; */
  /* background-image: linear-gradient(147deg, #000000 0%, #04619f 74%); */
  height: fit-content;

  padding-top: 90px;
  padding-bottom: 90px;
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
}
/* .hom {
  background-color: #1f0745;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23f2f0f7' fill-opacity='0.23' fill-rule='evenodd'/%3E%3C/svg%3E");
} */

/* .hom {
  background-color: #21044c;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.68'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} */

/* .hom {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
} */
