* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detailed {
  background-color: rgba(110, 105, 105, 0.733);
  overflow-x: hidden;
  width: 100vw;
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: ; */
  /* align-items: center; */
}
.img-det {
  width: 215px;
  height: 303.797px;
  background-color: red;
  /* margin-top: 15%; */
  position: absolute;
  top: 40%;
  left: 10%;
  /* margin-right: 30px; */
}
.imgAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background: white; */
  height: 65vh;
  width: 100vw;
  margin-right: 50px;
  background-position: center;

  /* margin-bottom: 220px; */
  /* background: url(https://cdn30.neko-sama.xyz/0/28170ylIloIU.jpg) ; */
}
/* .imgAndTitle h2 {
  margin-top: 50px;
} */
.allDetail {
  color: black;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.nameOf {
  font-family: best-title;
  font-size: 2em;
  font-weight: 1200;
  /* text-align: end; */
  position: absolute;
  top: 55%;
  left: 30%;
  color: black;
}

@font-face {
  font-family: best-title;
  src: url(/src/Assets/fonts/MonoLisa-Bold.ttf);
}
@font-face {
  font-family: plot-story;
  src: url(../../Assets/fonts/MonoLisa-ExtraLight.ttf);
}
.specific-det {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;

  position: absolute;
  top: 67%;
  left: 30%; */
  /* margin-top: 13%; */
  /* margin-left: 8.5%; */
  position: absolute;
  top: 90%;
  left: 10%;
}

.story-credit {
  width: 64vw;
  font-family: plot-story;
  font-size: 13px;
  margin-left: 30%;
  /* margin-left: 20px; */
}
.story-credit h3 {
  padding: 10px;
  padding-bottom: 30px;
  /* border-bottom: 2px solid red; */
}
.episod {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
}
.story-credit .episod {
  /* border-bottom: 2px solid red; */
  padding-bottom: 30px;
}
.credit {
  /* border-bottom: 2px solid red; */
}
.cast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid red;
}

/* .forward {
  animation-name: fadee;
  animation-duration: 0.8s;
}
@keyframes fadee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(40%);
  }
} */

.staff {
  display: flex;
  margin-top: 30px;
  flex-direction: column;

  /* grid-template-columns: 1fr 1fr 1fr; */
}

.staffLis {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 1%,
    rgba(128, 128, 128, 0.08)
  );

  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-bottom-left-radius: 5%;
  border-top-left-radius: 5%; */
}

.staffTask {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(123, 240, 130);
  font-size: 30px;
  padding-left: 20px;
}
.staffName {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* width: 100vw; */
  /* height: 30vh; */
}

.trailer {
  border: none;
}
.specific-det-mobile {
  display: none;
}

@media (max-width: 600px) {
  .img-det {
    width: 50vw;
    height: 303.797px;
    background-color: red;
    margin-top: 100%;
    position: unset;
    margin-left: 25vw;

    /* top: 40%;
  left: 10%; */
  }
  .detailed {
    background-color: white;
  }
  .story-credit {
    width: 100vw;
    font-family: plot-story;
    font-size: 13px;
    margin-left: 0;
    margin-top: 30vh;
  }
  .allDetail {
  }
  .nameOf {
    top: unset;
    left: unset;
    position: unset;
    text-align: center;
    font-size: unset;
  }
  .specific-det {
    display: none;
  }
  .specific-det-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }
  .rate {
    width: 40vw;
    height: unset;
    padding: unset;
  }
  .staffTask {
    font-size: unset;
  }
  .credit {
    margin-left: 5vw;
  }
  .imgTitle {
    width: 100vw;
  }
}
