* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detailed {
  background-color: rgba(110, 105, 105, 0.733);

  width: 100vw;
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: ; */
  /* align-items: center; */
}
.img-det {
  width: 215px;
  height: 303.797px;
  background-color: red;
  /* margin-top: 15%; */
  position: absolute;
  top: 40%;
  left: 10%;
  /* margin-right: 30px; */
}
.imgAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background: white; */
  height: 65vh;
  width: 100vw;
  margin-right: 50px;
  background-position: center;

  /* margin-bottom: 220px; */
  /* background: url(https://cdn30.neko-sama.xyz/0/28170ylIloIU.jpg) ; */
}
/* .imgAndTitle h2 {
  margin-top: 50px;
} */
.allDetail {
  color: black;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.nameOf {
  font-family: best-title;
  font-size: 2em;
  font-weight: 1200;
  /* text-align: end; */
  position: absolute;
  top: 55%;
  left: 30%;
  color: black;
}

@font-face {
  font-family: best-title;
  src: url(/src/Assets/fonts/MonoLisa-Bold.ttf);
}
@font-face {
  font-family: plot-story;
  src: url(../../Assets/fonts/MonoLisa-ExtraLight.ttf);
}
.specific-det {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;

  position: absolute;
  top: 67%;
  left: 30%; */
  margin-top: 13%;
  margin-left: 8.5%;
}

.story-credit {
  width: 64vw;
  font-family: plot-story;
  font-size: 13px;
  margin-left: 20px;
}
.story-credit h3 {
  padding: 10px;
  padding-bottom: 30px;
  /* border-bottom: 2px solid red; */
}
.episod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.story-credit .episod {
  /* border-bottom: 2px solid red; */
  padding-bottom: 30px;
}
.credit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid red;
}
.cast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid red;
}
