/* .sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: flex;
  justify-items: center;
  align-items: center;
  align-self: center;

  padding: 2% 2%;
} */
@font-face {
  font-family: myFont;
  src: url(/src/Assets/fonts/MonoLisa-Medium.ttf);
}
.head {
  font-family: myFont;
}

.alice-carousel__wrapper {
  /* width: 100vw;
  height: 500px; */
  color: none;
  /* margin: 10px; */
  /* margin-left: 1vw; */
}
.alice-carousel__dots {
  position: relative;
}

/* img {
  
} */

.alice {
  border: 2px whitesmoke currentColor;
  /* width: 96%;
  height: 80vh; */
  /* margin-left: 2%;
  margin-right: 2%; */
}
.headerImg {
  width: 97vw;
  height: 80vh;
  padding-left: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
  /* padding-right: 5vw; */
}
/* .alice-carousel {
  color: white;
  width: 80%;
} */
