.inp {
  width: 24vw;
  height: 28px;
  border: none;
  outline: none;
  background-color: grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.inp:focus {
  outline: none;
  background-color: rgba(128, 128, 128, 0.63);
}
.sub-but {
  outline: none;
  border: none;
  background-color: grey;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sub-but :hover {
  /* background-color: white; */
  cursor: pointer;
  /* margin-bottom: 2px; */
}

.submit-png {
  object-fit: contain;
  width: 25px;
  height: 25px;
}
