* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.anime-manga-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px 35px;
  margin-left: 2.4vw;
  margin-top: 3em;
  margin-bottom: 3em;
  justify-content: center;

  /* margin-left: 8%;
  margin-right: 8%; */
}
.anim-mang {
  width: 20vw;
  height: 45vh;

  /* background-image: linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255)); */
}

.title-nam {
  color: red;
  /* width: 230px; */
  width: 20vw;
}

.wishlistIcon {
  /* position: absolute; */
  width: 30px;
  top: 200px;
}

.iWhite {
  text-shadow: 0 0 5px rgb(247, 218, 166), 0 0 25px rgb(245, 210, 151),
    0 0 50px rgb(243, 205, 133), 0 0 100px rgb(245, 200, 110);
}
.iRed {
  text-shadow: 0 0 5px rgb(255, 5, 5), 0 0 25px rgb(252, 5, 5),
    0 0 50px rgb(245, 0, 0), 0 0 100px rgb(253, 9, 9);
}
.error {
  text-align: center;
}

@media (max-width: 600px) {
  .anime-manga-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 35px;
    margin-left: 4%;
    /* margin-left: 8%;
    margin-right: 8%; */
  }
  .anim-mang {
    width: 40vw;
    height: 30vh;

    /* background-image: linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255)); */
  }
}
