/* .inpCont {
  width: 80vh;
} */

.inp {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.inp:focus {
  outline: none;
  background-color: rgba(128, 128, 128, 0.63);
}
.sub-but {
  outline: none;
  border: none;
  background-color: grey;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sub-but :hover {
  /* background-color: white; */
  cursor: pointer;
  /* margin-bottom: 2px; */
}

.submit-png {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.tagLine {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  mix-blend-mode: difference;
}
